{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container mx-auto w-1/3 my-auto border border-blue-900 rounded p-4 mt-10 flex flex-col">
    <h1 class="mt-2 mx-auto text-lg text-center uppercase font-bold">Register</h1>

    {{ form_start(registrationForm) }}
        <label for="username">Email:</label>
        {{ form_row(registrationForm.email) }}
         <label for="password">Password:</label>
        {{ form_row(registrationForm.plainPassword) }}
         <label for="terms">Agree terms:</label>
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="py-2 px-3 mx-auto w-full bg-blue-500 text-white mt-2">Register</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
