{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    
    <form action="{{ path('app_login') }}" method="post" class="container mx-auto w-1/4 my-auto border border-blue-900 rounded p-4 mt-10 flex flex-col">
        {% if error %}
            <div class="bg-red-900 text-white rounded p-2 text-center mb-2">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <h2 class="mt-2 mx-auto text-lg text-center uppercase font-bold">Login</h2>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <label for="username">Email:</label>
        <input type="text" id="username" class="py-2 px-3 border-2 focus:border-gray-500 focus:outline-none mb-2" name="_username" value="{{ last_username }}">
        <label for="password">Password:</label>
        <input type="password" class="py-2 px-3 border-2 focus:border-gray-500 focus:outline-none mb-2" id="password" name="_password">
        <input type="hidden" name="_target_path" value="/article">

        <button class="py-2 px-3 mx-auto w-full bg-blue-500 text-white mt-2" type="submit">login</button>
    </form>
{% endblock %}
