<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="w-screen h-screen">
    <div class="bg-blue-500 bottom-4 shadow-lg flex justify-between">
        <h1 class="text-white ml-5 text-2xl py-3 uppercase font-semibold">News Parser Application</h1>
        {% if isLoggedIn %}
        <a class="text-white font-semibold py-3 mr-5" href="{{ path('app_logout') }}">Logout</a>
        {% endif %}
    </div>
        {% block body %}{% endblock %}
    </body>
</html>
