{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
<div class="container mx-auto p-5"> 
    <h1 class="mt-2 mx-auto text-lg uppercase font-bold">Articles</h1>

<div class="overflow-x-auto relative shadow-md sm:rounded-lg mt-2 mb-4">
    <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-200 ">
            <tr>
                <th scope="col" class="py-3 px-6">
                    Id
                </th>
                <th scope="col" class="py-3 px-6">
                    Title
                </th>
                <th scope="col" class="py-3 px-6">
                    Description
                </th>
                <th scope="col" class="py-3 px-6">
                    Picture
                </th>
                <th scope="col" class="py-3 px-6">
                    Created
                </th>
                <th scope="col" class="py-3 px-6">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            {% if article.id%2 == 0 %}
            <tr class="bg-gray-50 border-b ">
            {% else %}
            <tr class="bg-white border-b ">
            {% endif %}
                 <td class="py-4 px-6">
                    {{ article.id }}
                </td>
                <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap">
                    {{ article.title }}
                </th>
                <td class="py-4 px-6">{{ article.description }}</td>
                <td class="py-4 px-6">{{ article.picture }}</td>
                <td class="py-4 px-6">{{ article.created ? article.created|date('Y-m-d H:i:s') : '' }}</td>
                <td class="py-4 px-6">
                    <a href="{{ path('app_article_show', {'id': article.id}) }}">show</a>
                    <a href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr class="bg-white border-b ">
                <td colspan="6" class="py-4 px-6 text-center uppercase">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<!-- Previous Button -->
<a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700">
  Previous
</a>

<!-- Next Button -->
<a href="#" class="inline-flex items-center px-4 py-2 ml-3 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700">
  Next
</a>



    {# <a href="{{ path('app_article_new') }}">Create new</a> #}
</div>
    
{% endblock %}
